<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <style>
      .carousel-img {
        width: 1000px;
        height: 500px;
        object-fit: cover;
      }

      .custom-img {
        width: 150px;
        height: 500px;
        object-fit: cover;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <br />
    <div class="container my-5">
      <div
        id="carouselExampleInterval"
        class="carousel slide mx-auto"
        style="width: 80%"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img
              src="https://i.ebayimg.com/00/s/MTIwMFgxNjAw/z/GtEAAOSw1W9eN1cY/$_57.JPG?set_id=8800005007"
              class="d-block mx-auto carousel-img"
              alt="Movie image"
            />
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="https://wallpaperset.com/w/full/3/d/1/366210.jpg"
              class="d-block mx-auto carousel-img"
              alt="Movie image"
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://www.glenbrookcinema.com.au/imagesDB/movies/Spider-ManNoWayHomeSlideRated.jpg"
              class="d-block mx-auto carousel-img"
              alt="Movie image"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-4">
        <% if (user && user.type == "Admin") { %>
        <form action="/movies/new" method="GET">
          <button type="button submit" class="btn btn-secondary">
            Add a new Movie
          </button>
        </form>
        <% } %> <% if (user && user.type == "Normal") { %>
        <!-- <%=user._id%> -->
        <form action="/bookings/displayBookings" method="GET">
          <button type="button submit" class="btn btn-secondary">
            My Bookings
          </button>
        </form>
        <% } %>
        <div class="col"></div>
      </div>
    </div>

    <br />
    <!-- Display cards here -->

    <div class="d-flex justify-content-center align-items-center full-height">
      <div class="container">
        <div class="row">
          <% movies.forEach((movie, index) => { %>
          <div class="col-md-4 mb-4">
            <div class="card" style="width: 100%">
              <img
                src="<%= movie.image %>"
                class="card-img-top custom-img"
                alt="<%= movie.name %>"
              />
              <div class="card-body">
                <h5 class="card-title"><%= movie.name %></h5>
                <p class="card-text"><%= movie.description %></p>
                <% if (user) { %>
                <a href="/movies/<%= movie._id %>" class="btn btn-primary"
                  >Show Details</a
                >
                <% } %>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
