<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      .card {
        max-width: 1000px; /* Adjust the card width */
      }
      .img-container {
        width: 40%; /* Image container width */
        overflow: hidden; /* Ensures proper cropping if needed */
      }
      .img-container img {
        width: 100%; /* Image fills the container */
        height: auto;
        display: block; /* Ensures no extra spacing */
      }
      .content-container {
        width: 60%; /* Content container width */
      }
    </style>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <div
      class="d-flex justify-content-center align-items-center full-height"
      style="height: 100vh"
    >
      <!-- Card -->
      <div class="card d-flex flex-row">
        <!-- Image Container -->
        <div class="img-container">
          <img src="<%= movie.image %>" class="img-fluid" alt="Card image" />
        </div>
        <!-- Content Container -->
        <div class="content-container">
          <div class="card-body">
            <h5 class="card-title"><%= movie.name %></h5>
            <p class="card-text"><%= movie.description %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <b>Category: </b> <%= movie.category %>
            </li>
            <li class="list-group-item">
              <b>Running time: </b><%= movie.runningTime %>
            </li>
            <li class="list-group-item">
              <b>Release Date: </b><%= new
              Date(movie.releaseDate).toLocaleDateString('en-US', { year:
              'numeric', month: 'long', day: 'numeric' }) %>
            </li>
            <li class="list-group-item">
              <b>Language: </b><%= movie.language %>
            </li>
            <li class="list-group-item">
              <b>Subtitle(s): </b><%= movie.subtitle %>
            </li>
            <% if (user.type == "Admin") { %>
            <li class="list-group-item">
              <b>Number of available tickets: </b><%= movie.availableTickets %>
            </li>
            <%}%>
          </ul>

          <div class="card-body">
            <!-- Admin user -->
            <% if (user.type == "Admin") { %>
            <div class="d-flex gap-2">
              <!-- Edit Button -->
              <a href="/movies/<%= movie._id %>/edit" class="btn btn-primary">
                Edit this movie
              </a>

              <!-- Delete Button -->
              <form
                action="/movies/<%= movie._id %>?_method=DELETE"
                method="POST"
                class="m-0"
              >
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
            <% } %>

            <!-- Normal user -->
            <% if (user.type == "Normal" && movie.availableTickets>0) { %>
            <form action="/bookings/new/<%=movie._id%>" method="POST">
              <!-- choose number of tickets -->
              <div class="md-3">
                <label for="ticketsCount" class="form-label"
                  >Number of tickets</label
                >
                <select
                  class="form-select"
                  name="ticketsCount"
                  id="ticketsCount"
                  required
                >
                  <% for(let i= 1; i<= movie.availableTickets; i++){ %>
                  <option value="<%= i %>"><%= i %></option>
                  <% } %>
                </select>
              </div>
              <!-- choose the booking date -->
              <div class="mb-3">
                <label for="bookingDate" class="form-label"> Show date</label>
                <input
                  type="Date"
                  class="form-control"
                  name="bookingDate"
                  id="bookingDate"
                  required
                />
              </div>

              <br />
              <button type="submit" class="btn btn-primary">Book Movie</button>
            </form>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
